---
import BaseLayout from "@/layouts/base-layout.astro";

import Button from "../components/button.astro";
---

<BaseLayout title="Home">
  <div class="grid h-screen place-items-center content-center">
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 text-primary underline">Markdown is also supported...</a>
  </div>
</BaseLayout>
