---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
  id="confetti-button"
  class="appearance-none rounded-lg bg-primary px-4 py-2 font-semibold text-primary-content shadow-md focus:outline-none focus:ring-2"
>
  <slot />
</button>

<script>
  import confetti from "canvas-confetti";
  const button = document.getElementById("confetti-button");

  if (button) {
    button.addEventListener("click", () => confetti());
  }
</script>
